<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex flex-col items-center p-10">
    <img
      class="w-24 h-24 mb-3 rounded-full shadow-lg"
      src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
      alt="User image"
    />
    <h5
      class="mb-1 text-xl font-medium text-gray-900 text-center dark:text-white text-ellipsis w-48 overflow-hidden ..."
    >
      {{ user.firstName }} {{ user.lastName }}
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">{{
      user.designationName
    }}</span>
    <div class="flex mt-4 md:mt-6">
      <a
        routerLink="/enrol"
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Enroll Face
      </a>
    </div>
  </div>
</div>
